.container-fluid{
    width: 100%;
}
.chart1{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #ffffff;
    width: 49% !important;
    height: 350px;
    box-shadow: 1px 2px rgb(224, 224, 224);
    margin-right: 1% ;
}

.chart2{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #ffffff;
    width: 50% !important;
    height: 350px;
    box-shadow: 1px 2px rgb(224, 224, 224);
}

h3{
    color: #1d8097;
}

.row{
    left: 0px;
}
au-card-inner{
    height: auto;
}

canvas{
    margin-top: 10px;
}

@media only screen and (max-width: 970px){
	.chart1, .chart2{
        width: 100% !important;
        height: 400px !important;
        margin-bottom: 20px;
    }

    canvas{
        width: 100%!important;
        height: 80%!important;
    }
}