.col-lg-3{
    margin: auto;
}

.col-md-5{
    background-color: white;
}

.table-tournee{
    border: 1px solid transparent;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #cccdce;
}
.table-title{
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #2274BF;
}

.card-employe{
    border-right: 3px solid #2274BF !important;
}
