html,body,nav,img,footer, .interface {
  max-width: 100%;
}

.navbar{
	margin-bottom: 30px;
}
nav{
	position: fixed;
	height: 100%;
	width: 15%;
	background-color: #272b52!important;
	padding: auto;
	padding-top: 20px;
	float: left;	
}
nav>hr{
	background-color: white;
	width: 80%;
	margin-top: -20px;
}
nav>div{
	text-align: center;
	margin-top: 20px;
}
nav>a>img{
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
nav>div>button{
	border: 1px solid transparent;
	width: 100%;
}

.btn-active{
	background-color: #fc7e2f;
	color: white !important;
}

.interface{
	right: 0;
	margin: 40px;
	margin-top: 2%;
	position: absolute;
	height: auto;
	width: 80%;
}

footer{
	position: absolute; 
	width: 70%;
	height: 60px;
	bottom: 0;
	padding: 20px;
	background-color: #343a40!important;
	color: #fff;
	font-size: 13pt;
	text-align: center;
	margin-left: 20%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.btn-menu{
	border: 1px solid transparent;
	width: 100%;
	height: 40px;
	color: white;
	text-align: justify;
	padding-left: 40px !important;
	margin-top: 20px;
	padding-top: 7px;
}
.btn-menu:hover{
	background-color: white;
	color: #0989d9;
}

.btn-sub-menu{
	border: 1px solid transparent;
	width: 80%;
	height: 25px;
	color: white;
	text-align: justify;
	padding-left: 40px !important;
	margin-top: 10px;
	margin-left: 15%;
}
.btn-sub-menu:hover{
	background-color: white;
	color: #010530;
}


.page-title{
	text-align: center;
	font-size: 24px;
	padding-left: 5px;
	margin-top: 0px!important;

}