html,body,nav,img,footer, .interface {
  max-width: 100%;
}

body{
	background-color: rgb(235, 235, 235);
}
body::-webkit-scrollbar{
	display: none;
}
.navbar{
	margin-bottom: 30px;
}
nav{
	position: fixed;
	height: 100%;
	width: 18%;
	background-color: white !important;
	padding-top: 20px;
	float: left;	
	border: 1px solid transparent;
	box-shadow: 3px 0 5px -2px #aaacad;
}
nav>hr{
	background-color: white;
	width: 80%;
	margin-top: -20px;
}
nav>div{
	text-align: center;
	margin-top: 20px;
}
nav>a>img{
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
nav>div>button{
	border: 1px solid transparent;
	width: 100%;
}

.interface{
	right: 0;
	margin: 40px;
	margin-top: 2%;
	position: absolute;
	height: auto;
	width: 77%;
}


.btn-menu{
	border: 1px solid transparent;
	border-bottom: 1px solid rgb(236, 236, 236);
	width: 104%;
	height: 45px;
	color:rgb(77, 77, 77);
	text-align: justify;
	padding-left: 10px !important;
	padding-top: 10px;
}
.btn-menu:hover{
	background-color: rgb(240, 236, 236);
	border-left: 3px solid #1d8097;
	color:#1d8097 !important;
}

.btn-logout{
	border: 1px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid rgb(236, 236, 236);
	width: 100%;
	height: 45px;
	color:rgb(132, 132, 132);
	text-align: justify;
	padding-left: 10px !important;
	padding-top: 10px;
}

.btn-logout:hover{
    color: #e02222;
    border-left: 3px solid #e02222 !important;
    background-color: rgb(248, 248, 248);
}

.btn-sub-menu{
	border: 1px solid transparent;
	width: 104%;
	height: 35px;
	left: 0;
	color: rgb(77, 77, 77);
	text-align: left;
	padding-top: 4px;
	padding-left: 40px !important;
}
.btn-sub-menu:hover{
	background-color: rgb(233, 230, 230);
	color: #1d8097;
}

.btn-sub-menu:active{
	background-color: #18567a;
}

.submenu-list{
	border-left: 3px solid #1d8097 !important;
}


.page-title{
	text-align: center;
	font-size: 24px;
	padding-left: 5px;
	margin-top: 0px!important;
}


.top-nav{
	visibility: hidden;
	position: fixed; 
	box-shadow:none; 
	border-bottom: 2px solid rgb(223, 222, 222); 
	background-color: rgb(253, 253, 253);

}

.top-nav .navspan{
    color: rgb(132, 132, 132) !important;
    margin-top: 12px;
    z-index: 100;
}
.top-nav .nav-link{
    color: rgb(132, 132, 132);
    border: 2px solid transparent;
}
.top-nav .nav-link:hover{
    color: #1d8097;
    border-bottom: 2px solid #1d8097;
    background-color: rgb(248, 248, 248);
}

.top-nav .logout:hover{
    color: #e02222;
    border-bottom: 2px solid #e02222;
    background-color: rgb(248, 248, 248);
}

.top-nav .navbar-brand{color: #1d8097;}

#submenu2{
	width: 40%;
}
.top-nav .btn-drop-menu{
	border: 1px solid transparent;
	margin-bottom: 5px;
	color: rgb(77, 77, 77) !important;
}
.top-nav .btn-drop-menu:hover{
	border-bottom: 2px solid #1d8097;
	color: #1d8097 !important;
	background-color: rgb(231, 231, 231) !important;
}

@media only screen and (max-width: 970px){
	nav{
		visibility: hidden;
		width: 0;
	}
	.top-nav{
		visibility: visible;
	}
	.interface{
		display: block;
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 65px;
	}

	.navbar-toggler{
		z-index:100;
	}
}