.tableFixHead  { overflow-y: auto; height: 500px; }
	.tableFixHead thead th { position: sticky; top: 0; }
	
	table  { border-collapse: collapse; width: 100%; }
	th, td { padding: 8px 16px; }
	th     { background:#2a81d3; color: white; }
td {background-color: #ffffff;}

.btn-add{
    float: right;
}

.tableFixHead::-webkit-scrollbar{
	width: 10px;
	background-color: #afcbe6;
}
.tableFixHead::-webkit-scrollbar-thumb{
	background-color: #2a81d3;
}