table{
    margin-left: 20px;
}

th,td{
   padding-bottom: 10px; 
}

td{
    padding-left: 20px;
}
.info-div{
    background-color: rgb(255, 255, 255);
}
.bare-info {
    border: 1px solid #1d8097;
    background-color: #1d8097;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h3{
    color: white;
    float: left;
    font-weight: 400;
    margin-left: 10px;
}

.btn-imprimer{
    display: inline;
    margin-left: 68%;
}

.btn-image{
    display: inline;
    margin-left: 70%;
}