body::-webkit-scrollbar{
	width: 8px;
	background-color: #a9cfd8;
}
body::-webkit-scrollbar-thumb{
	background-color: #1d8097;
}

.navbar {position: fixed; box-shadow:none; border-bottom: 2px solid rgb(223, 222, 222); background-color: rgb(253, 253, 253); margin-bottom: 10px;}
.navbar-brand{color: #1d8097;}

.navspan{
    color: rgb(132, 132, 132) !important;
    margin-top: 12px;
    z-index: 100;
}
.nav-link{
    color: rgb(132, 132, 132);
    border: 2px solid transparent;
}
.nav-link:hover{
    color: #1d8097;
    border-bottom: 2px solid #1d8097;
    background-color: rgb(248, 248, 248);
}

.logout:hover{
    color: #e02222;
    border-bottom: 2px solid #e02222;
    background-color: rgb(248, 248, 248);
}

.interface{
    border: 1px solid transparent;
    margin-top: 65px !important;
    text-align: center;
    z-index: 100%;
}
.table thead{
    background-color: #fff;
    color: #1d8097;
    font-weight: bold;
}
.table th, td{
    white-space:nowrap;
}

.interface h2{
    color: #1d8097;
    font-weight: bold;
}

footer{
    position: absolute;
    border: 1px solid transparent;
    width: 100%;
    bottom: 0;
    text-align:center; 
   
}


@media only screen and (max-width: 992px){
    .interface{
        margin: auto;
    }
    .table-responsive::-webkit-scrollbar{
        height: 10px;
        background-color: #afcbe6;
    }
    .table-responsive::-webkit-scrollbar-thumb{
        background-color: #1d8097;
    }
}