{% extends "base.html.twig" %}
{% block title %}Attachement Bilan{%endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/dashboard.css')}}">
    <link rel="stylesheet" href="{{asset('css/charts.css')}}">
    <link rel="stylesheet" href="{{asset('css/table.css')}}">
    
{% endblock %}
{% block header %}Attachement Bilan{%endblock%}
{% block body %}
    <p>roujiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
<!-- jsChart-->
{% endblock %}