{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends "base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('')}}">
  
{% endblock %}
{% block body %}


<div class="container">
    <h2 class="title">Erreur</h2>
</div>


{% endblock %}